<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.submissionfinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.BottomNavActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DetailMovieActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".activity.DetailTvActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <service
            android:name=".widget.StackWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widget.ImageBannerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banner_widget_info" />
        </receiver>
        <activity
            android:name=".activity.RemainderActivity"
            android:label="@string/remainder"/>

        <receiver
            android:name=".alarm.ReleaseTodayRemainder"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <receiver
            android:name=".alarm.DailyAlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

    </application>

</manifest>